body {
  background: #191923;
  color: #FBFEF9;
}

$primary: #191923;
$secondary: #191923;

.fg {
  background-color: #25272f !important;
}

.outer {
  height: 100vh;
}

input[type='text'],
input[type='date'],
input[type='password'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  background: transparent;
  color: #FBFEF9;
}

.input-field {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  color: #0E79B2;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
  background-color: #0E79B2;
}

.panel {
  min-height: 380px;
  box-shadow: 20px, 20px, 80px, black;
  border-radius: 10px;
  margin-top: 100px;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}
