.widget {
  padding: 5px;
  border-radius: 10px;
  height: 41vh;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень карточки */
  /* transition: transform 3s;*/
}

@media (min-height: 501px) {
  .widget {
    height: 41vh;
  }
}

@media (max-height: 600px) {
  .widget {
    height: 80vh;
  }
}

.widget:hover {
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.5); /* Изменяем цвет тени при наведении на карточку */
}
